/* index.css */

:root {
  --color-bg: #0f172a;
  --color-bg-light: #1e293b;
  --color-primary: #38bdf8;
  --color-secondary: #a855f7;
  --color-text: #e5e7eb;
  --color-muted: #94a3b8;
  --color-border: #334155;
  --color-hover: #60a5fa;

  --font-main: "Segoe UI", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
/* index.css */

:root {
  --color-bg: #0f172a;
  --color-bg-light: #1e293b;
  --color-primary: #38bdf8;
  --color-secondary: #a855f7;
  --color-text: #e5e7eb;
  --color-muted: #94a3b8;
  --color-border: #334155;
  --color-hover: #60a5fa;

  --font-main: "Segoe UI", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
